.itemInCart {
	width: 50%;
	margin: 0 auto;
	margin-top: 3rem;
}

button.btn.btn-outline-primary {
	width: 100px;
	margin-top: 20px;
}

.totalPrice {
	text-align: center;
	padding-top: 2rem;
}

#btn-checkout {
	text-align: center;
	padding-top: 20px;
}

.containerBtnCart {
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

button.btn.btn-outline-primary {
	margin-top: 0px;
}
